<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddDepartmentControllerr</servlet-name>
        <servlet-class>nust.directory.controller.AddDepartmentControllerr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeController</servlet-name>
        <servlet-class>nust.directory.controller.AddEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>nust.directory.controller.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBuildingController</servlet-name>
        <servlet-class>nust.directory.controller.AddBuildingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFacultyController</servlet-name>
        <servlet-class>nust.directory.controller.AddFacultyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBuildingController</servlet-name>
        <servlet-class>nust.directory.controller.DisplayBuildingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayDepartmentController</servlet-name>
        <servlet-class>nust.directory.controller.DisplayDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUserController</servlet-name>
        <servlet-class>nust.directory.controller.DisplayUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayFacultyController</servlet-name>
        <servlet-class>nust.directory.controller.DisplayFacultyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBuildingController</servlet-name>
        <servlet-class>nust.directory.controller.DeleteBuildingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeBuildingDropdownController</servlet-name>
        <servlet-class>nust.directory.controller.EmployeeBuildingDropdownController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFacultyController</servlet-name>
        <servlet-class>nust.directory.controller.DeleteFacultyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSectionController</servlet-name>
        <servlet-class>nust.directory.controller.AddSectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplaySectionController</servlet-name>
        <servlet-class>nust.directory.controller.DisplaySectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>nust.directory.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSectionController</servlet-name>
        <servlet-class>nust.directory.controller.DeleteSectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDepartmentController</servlet-name>
        <servlet-class>nust.directory.controller.DeleteDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <servlet-class>nust.directory.controller.DeleteEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayEmployeeController</servlet-name>
        <servlet-class>nust.directory.controller.DisplayEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBuildingController</servlet-name>
        <servlet-class>nust.directory.controller.ViewBuildingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDepartmentControllerr</servlet-name>
        <url-pattern>/AddDepartmentControllerr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeController</servlet-name>
        <url-pattern>/AddEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/AddUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBuildingController</servlet-name>
        <url-pattern>/AddBuildingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFacultyController</servlet-name>
        <url-pattern>/AddFacultyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBuildingController</servlet-name>
        <url-pattern>/DisplayBuildingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayDepartmentController</servlet-name>
        <url-pattern>/DisplayDepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUserController</servlet-name>
        <url-pattern>/DisplayUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayFacultyController</servlet-name>
        <url-pattern>/DisplayFacultyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBuildingController</servlet-name>
        <url-pattern>/DeleteBuildingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeBuildingDropdownController</servlet-name>
        <url-pattern>/EmployeeBuildingDropdownController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFacultyController</servlet-name>
        <url-pattern>/DeleteFacultyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSectionController</servlet-name>
        <url-pattern>/AddSectionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplaySectionController</servlet-name>
        <url-pattern>/DisplaySectionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSectionController</servlet-name>
        <url-pattern>/DeleteSectionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDepartmentController</servlet-name>
        <url-pattern>/DeleteDepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <url-pattern>/DeleteEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayEmployeeController</servlet-name>
        <url-pattern>/DisplayEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBuildingController</servlet-name>
        <url-pattern>/ViewBuildingController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
